beautifulsoup4==4.12.2
boto3==1.28.68
botocore==1.31.68
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
greenlet==3.0.0
idna==3.4
jmespath==1.0.1
python-dateutil==2.8.2
redis==5.0.1
requests==2.31.0
rq==1.15.1
s3transfer==0.7.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.22
typing_extensions==4.8.0
urllib3==2.0.7
